.entry{:id => "entry_#{entry.id}"}
  .actions
    - unless entry.terminated?
      = link_to_remote "FINISH", :url => terminate_entry_path(entry), :method => :put
  .entryContent{:class => entry.is_overdue? ? 'overdue' : nil}= entry.content_html
  .entryTime{:class => entry.terminated? ? 'done' : 'active'}= friendly_time(entry.current_time)
