- if @service
  - @page_title = @service.name
- elsif @client
  - @page_title = @client.name
- elsif @project
  - @page_title = @project.name
- else
  - @page_title = t('title.entries')
= new_entry_form(@project, @client, @service)

#entries
  = render :partial => 'entries/entry', :collection => @entries

- content_for :js_templates do
  = "Timer.init();"
